@foreach (var pedido in pedidos.Pedidos)
{
    <tr>
        <td>@pedido.DataPedido</td>
        <td>@pedido.Valor</td>
        <td>@pedido.TotalPagamento</td>
        <td>@pedido.Status</td>
        <td>@pedido.Observacoes</td>
    </tr>
}

@code {

    [Parameter]
    public GetPedidosClienteResponse pedidos { get; set; }
}
